<!-- Toggle Button for Mobile -->
<pet-button
  [text]="isExpanded() ? 'Ocultar filtros' : 'Mostrar filtros'"
  [type]="'button'"
  [styling]="'link'"
  [color]="'primary'"
  (clickTriggered)="toggleExpanded()"
  [customClass]="'md:hidden w-full flex-initial h-12 min-h-12'"
/>
<div
  class="flex flex-col items-start justify-between gap-5 md:flex-row md:items-end"
  [class]="customClass()"
>
  <form
    [@slideToggle]="isExpanded() || isDesktop() ? 'expanded' : 'collapsed'"
    class="grid w-full flex-auto grid-cols-1 gap-4 md:w-fit md:grid-cols-3 2xl:grid-cols-6"
    [formGroup]="form"
    [class.grid]="isExpanded() || isDesktop()"
  >
    <pet-form-input
      [label]="'Buscar por nombre o correo'"
      [placeholder]="'Nombre o correo del refugio'"
      [control]="searchControl.control!"
    />

    <pet-form-select
      [label]="'Estado'"
      [control]="statusControl.control!"
      [options]="statusOptions()"
    />

    <pet-form-select
      [label]="'Departamento'"
      [control]="departmentControl.control!"
      [options]="departments()"
      (onChange)="handleOnDepartmentChange($event)"
    />

    <pet-form-select
      [label]="'Ciudad'"
      [control]="cityControl.control!"
      [options]="cities()"
    />

    <pet-form-input
      [label]="'Desde'"
      [type]="'date'"
      [control]="submittedFromControl.control!"
    />

    <pet-form-input
      [label]="'Hasta'"
      [type]="'date'"
      [control]="submittedToControl.control!"
    />
  </form>

  <pet-button
    [text]="'Limpiar'"
    [type]="'button'"
    [color]="'basic'"
    (clickTriggered)="resetFilters()"
    [customClass]="'w-full md:w-fit flex-initial h-12 min-h-12'"
  />
</div>
