<div class="overflow-hidden relative">
  <!-- Error message -->
  <div *ngIf="error" class="bg-red-100 text-red-800 p-4 rounded mb-4">
    <p>{{ error }}</p>
  </div>

  <ng-container *ngIf="loading">
    <pet-pet-details-placeholder></pet-pet-details-placeholder>
  </ng-container>

  <a [routerLink]="['../']"
    class="absolute top-0 left-0 px-4 py-2 bg-primary-500 text-white font-semibold rounded-lg hover:bg-primary-600 transition duration-300">
    <fa-icon [icon]="leftArrowIcon" size="lg"></fa-icon>
  </a>

  <div class="flex">
    <div class="flex-1 h-full">
      <!-- Header Section -->
      <header class="text-center mb-8">
        <h1 class="text-4xl font-semibold text-gray-800">{{ pet?.name }}</h1>
        <p class="text-lg text-gray-600">{{ pet?.species }} | {{ pet?.breed }} | {{ calculateAge(pet?.birthdate) }}</p>
      </header>

      <!-- Photos Section -->
      <section class="flex flex-col items-center">
        <div class="w-full max-w-2xl mb-6">
          <img *ngIf="pet?.photos?.length" [src]="pet?.photos?.[0]" alt="{{ pet?.name }}'s main photo"
            class="w-full h-auto rounded-lg shadow-lg" />
        </div>
        <div class="flex gap-4">
          <img *ngFor="let photo of pet?.photos; let i = index" [src]="photo" alt="Additional photo {{ i + 1 }}"
            class="w-20 h-20 object-cover rounded-md cursor-pointer hover:scale-105 transition-transform duration-300" />
        </div>
      </section>
    </div>

    <div class="flex-1 h-full flex flex-col gap-y-8 p-6">
      <!-- Key Attributes Section -->
      <section class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-4 border border-primary-100 bg-primary-50 rounded-lg">
        <div class="flex items-center space-x-2">
          <span class="font-semibold text-gray-700">Size:</span>
          <span class="text-gray-600">{{ pet?.size }}</span>
        </div>
        <div class="flex items-center space-x-2">
          <span class="font-semibold text-gray-700">Color:</span>
          <span class="text-gray-600">{{ pet?.color }}</span>
        </div>
        <div class="flex items-center space-x-2">
          <span class="font-semibold text-gray-700">Gender:</span>
          <span class="text-gray-600">{{ pet?.gender }}</span>
        </div>
        <div class="flex items-center space-x-2">
          <span class="font-semibold text-gray-700">Vaccination Status:</span>
          <span class="text-gray-600">{{ pet?.vaccinationStatus }}</span>
        </div>
        <div class="flex items-center space-x-2">
          <span class="font-semibold text-gray-700">Training Level:</span>
          <span class="text-gray-600">{{ pet?.trainingLevel }}</span>
        </div>
      </section>

      <!-- Personality & Traits Section -->
      <section class="p-4 border border-primary-100 bg-primary-50 rounded-lg">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Personality</h2>
        <ul class="list-disc pl-5 space-y-2 text-gray-700">
          <li *ngFor="let personality of pet?.personalityTraits">
            {{personality}}
          </li>
        </ul>
      </section>

      <!-- Adoption Requirements Section -->
      <section class="p-4 border border-primary-100 bg-primary-50 rounded-lg">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Adoption Requirements</h2>
        <ul class="list-disc pl-5 space-y-2 text-gray-700">
          <li>Experience Level: {{ pet?.adoptionRequirements?.experienceLevel }}</li>
          <li>Living Environment: {{ pet?.adoptionRequirements?.livingEnvironment }}</li>
        </ul>
      </section>

      <!-- Background Story Section -->
      <section class="p-4 border border-primary-100 bg-primary-50 rounded-lg">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Background Story</h2>
        <p class="text-gray-700">{{ pet?.backgroundStory }}</p>
      </section>

      <span class="flex-auto"></span>

      <!-- Contact & Adoption Info Section -->
      <section class="text-center">
        <button
          class="px-6 py-3 bg-primary-500 text-white font-semibold rounded-lg hover:bg-primary-600 transition duration-300">
          <fa-icon [icon]="pawIcon" class="mr-1"></fa-icon>
          <span>Adopt Me</span>
        </button>
        <p class="mt-4 text-gray-700 cursor-pointer">For more info, contact: <a href="mailto:sample.email@jtmail.com"
            class="text-primary-500 hover:underline">petcare-connect</a></p>
      </section>
    </div>
  </div>
</div>
