<button [type]="type" [ngClass]="getButtonClasses()" (click)="handleClick()" [disabled]="isDisabled">
  <!-- Left icon or spinner -->
  <fa-icon *ngIf="iconPosition === 'left' && (isLoading || icon)" [icon]="isLoading ? spinnerIcon : icon!"
    [animation]="isLoading ? 'spin' : undefined" class="mr-2"></fa-icon>

  <!-- Button text -->
  <span>{{ isLoading ? loadingText : text }}</span>

  <!-- Right icon or spinner -->
  <fa-icon *ngIf="iconPosition === 'right' && (isLoading || icon)" [icon]="isLoading ? spinnerIcon : icon!"
    [animation]="isLoading ? 'spin' : undefined" class="ml-2"></fa-icon>
</button>