<pet-navigation-bar></pet-navigation-bar>

<div class="bg-gray-50 overflow-x-hidden">

  <!-- Hero Section -->
  <section class="bg-primary-600 text-white h-auto md:h-[520px] relative flex items-center justify-center">
    <!-- Center this vertically and horizontally -->
    <div class="max-w-7xl mx-auto text-center px-4 py-16">
      <h1 class="text-4xl sm:text-3xl md:text-4xl font-bold mb-4">Bienvenido a PetCare Connect</h1>
      <p class="text-lg sm:text-base md:text-lg mb-8">Conectando adoptantes con refugios y fundaciones para promover el
        bienestar animal.</p>
      <a routerLink="/conocer-mas"
        class="inline-block bg-secondary-200 text-gray-700 py-3 px-8 rounded-lg text-lg font-semibold hover:bg-secondary-300 cursor-pointer">Conocer
        más</a>
    </div>

    <!-- First Image (default, left-aligned for smaller screens) -->
    <!-- <img src="home-page/curly-brown-hair-dog.png"
      class="h-[300px] sm:h-[400px] md:h-[500px] hidden md:block md:absolute md:bottom-0 md:left-right-40 md:w-auto object-cover"> -->

    <!-- Second Image (flipped, right-aligned for larger screens) -->
    <!-- <img src="home-page/curly-brown-hair-dog.png"
      class="h-[300px] sm:h-[400px] md:h-[500px] hidden md:block md:absolute md:bottom-0 md:right-40 transform scale-x-[-1] object-cover"> -->
  </section>


  <!-- About Section -->
  <section class="md:h-[520px] flex items-center justify-center bg-gray-50">
    <div class="max-w-6xl mx-auto px-4 py-16 text-center">
      <h2 class="text-3xl sm:text-2xl md:text-3xl font-bold text-primary-700 mb-8">Nuestra Misión</h2>
      <p class="text-xl sm:text-lg md:text-xl text-gray-700 mb-6">
        PetCare Connect es una plataforma integral diseñada para mejorar la gestión de la adopción, el cuidado y la
        educación sobre el bienestar animal. Conectamos adoptantes con refugios y fundaciones, facilitamos el
        seguimiento de la salud de las mascotas y proporcionamos recursos educativos y consultas veterinarias remotas.
      </p>
      <p class="text-xl sm:text-lg md:text-xl text-gray-700 mb-6">
        Nuestro objetivo es crear un ecosistema de apoyo que empodere a las comunidades y refuerce los recursos de las
        organizaciones dedicadas al rescate animal.
      </p>
    </div>
  </section>

  <!-- Features Section -->
  <section class="bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 py-16">
      <h3 class="text-2xl sm:text-xl md:text-2xl font-semibold text-center text-gray-900 mb-8">Servicios que Ofrecemos
      </h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">
        <div class="text-center p-6 bg-white shadow-lg rounded-lg">
          <h4 class="text-xl sm:text-lg font-semibold text-primary-600 mb-4">Adopción de Mascotas</h4>
          <p class="text-gray-700">Consulta las mascotas disponibles para adopción y comienza el proceso fácilmente.</p>
        </div>
        <div class="text-center p-6 bg-white shadow-lg rounded-lg">
          <h4 class="text-xl sm:text-lg font-semibold text-primary-600 mb-4">Consultas Veterinarias Remotas</h4>
          <p class="text-gray-700">Consulta a veterinarios desde la comodidad de tu hogar y recibe atención
            personalizada.</p>
        </div>
        <div class="text-center p-6 bg-white shadow-lg rounded-lg">
          <h4 class="text-xl sm:text-lg font-semibold text-primary-600 mb-4">Recursos Educativos</h4>
          <p class="text-gray-700">Accede a artículos y guías sobre cuidado de mascotas, apadrinamiento y más.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action Section -->
  <section class="bg-primary-600 text-white py-16">
    <div class="max-w-7xl mx-auto text-center px-4">
      <h3 class="text-3xl sm:text-2xl md:text-3xl font-semibold mb-4">Únete a Nosotros y Marca la Diferencia</h3>
      <p class="text-lg sm:text-base mb-8">Con tu apoyo, podemos mejorar la vida de muchos animales y fortalecer nuestra
        red de bienestar animal.</p>
      <a routerLink="/registro"
        class="bg-secondary-200 text-gray-800 py-3 px-8 rounded-lg text-lg font-semibold hover:bg-secondary-300 cursor-pointer">Regístrate
        Ahora</a>
    </div>
  </section>

  <!-- Testimonial Section -->
  <section class="max-w-7xl mx-auto px-4 py-16 text-center">
    <h3 class="text-2xl sm:text-xl md:text-2xl font-semibold text-gray-900 mb-8">Lo que dicen nuestros usuarios</h3>
    <div class="flex flex-col sm:flex-row justify-center space-y-8 sm:space-y-0 sm:space-x-8">
      <div class="w-full sm:w-1/3 bg-white shadow-lg rounded-lg p-6">
        <p class="text-gray-700 mb-4">"PetCare Connect me ayudó a encontrar a la mascota perfecta para mi familia. El
          proceso fue rápido y fácil. ¡Gracias por hacer la adopción tan accesible!"</p>
        <p class="font-semibold text-primary-600">María García</p>
      </div>
      <div class="w-full sm:w-1/3 bg-white shadow-lg rounded-lg p-6">
        <p class="text-gray-700 mb-4">"Como veterinario, la plataforma me permite ofrecer consultas a distancia,
          ayudando a más animales de manera eficiente y accesible."</p>
        <p class="font-semibold text-primary-600">Dr. Juan Pérez</p>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <footer class="bg-primary-600 text-white py-8 mt-16">
    <div class="max-w-7xl mx-auto px-4 text-center">
      <!-- Logo / Brand Name -->
      <div class="mb-6">
        <h2 class="text-3xl sm:text-2xl font-bold">PetCare Connect</h2>
        <p class="text-lg sm:text-base mt-2">Conectando adoptantes con refugios y fundaciones para promover el bienestar
          animal.</p>
      </div>

      <!-- Footer Links -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mb-6">
        <div>
          <h4 class="text-xl font-semibold mb-2">Sobre Nosotros</h4>
          <ul>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Nuestra Misión</a></li>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Nuestro Equipo</a></li>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Carreras</a></li>
          </ul>
        </div>
        <div>
          <h4 class="text-xl font-semibold mb-2">Servicios</h4>
          <ul>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Adopción de Mascotas</a></li>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Consultas Veterinarias Remotas</a></li>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Recursos Educativos</a></li>
          </ul>
        </div>
        <div>
          <h4 class="text-xl font-semibold mb-2">Enlaces Rápidos</h4>
          <ul>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Términos y Condiciones</a></li>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Política de Privacidad</a></li>
            <li><a href="#" class="text-gray-200 hover:text-gray-100">Contacto</a></li>
          </ul>
        </div>
        <div>
          <h4 class="text-xl font-semibold mb-2">Síguenos</h4>
          <div class="flex justify-center space-x-6">
            <a href="#" class="text-gray-200 hover:text-gray-100"><fa-icon [icon]="facebook" size="2x"></fa-icon></a>
            <a href="#" class="text-gray-200 hover:text-gray-100"><fa-icon [icon]="twitter" size="2x"></fa-icon></a>
            <a href="#" class="text-gray-200 hover:text-gray-100"><fa-icon [icon]="instagram" size="2x"></fa-icon></a>
            <a href="#" class="text-gray-200 hover:text-gray-100"><fa-icon [icon]="youtube" size="2x"></fa-icon></a>
          </div>
        </div>
      </div>

      <!-- Footer Bottom Section -->
      <div class="text-center text-gray-200">
        <p>&copy; 2024 PetCare Connect. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
</div>