<pet-navigation-bar></pet-navigation-bar>

<div class="overflow-x-hidden bg-gray-50">
  <!-- Hero Section -->
  <section
    class="relative flex h-auto items-center justify-center bg-primary-600 text-white md:h-[520px]"
  >
    <!-- Center this vertically and horizontally -->
    <div class="mx-auto max-w-7xl px-4 py-16 text-center">
      <h1 class="mb-4 text-4xl font-bold sm:text-3xl md:text-4xl">
        Bienvenido a PetCare Connect
      </h1>
      <p class="mb-8 text-lg sm:text-base md:text-lg">
        Conectando adoptantes con refugios y fundaciones para promover el
        bienestar animal.
      </p>
      <a
        class="inline-block cursor-pointer rounded-lg bg-secondary-200 px-8 py-3 text-lg font-semibold text-gray-700 hover:bg-secondary-300"
        routerLink="/conocer-mas"
        >Conocer más</a
      >
    </div>

    <!-- First Image (default, left-aligned for smaller screens) -->
    <!-- <img src="home-page/curly-brown-hair-dog.png"
      class="h-[300px] sm:h-[400px] md:h-[500px] hidden md:block md:absolute md:bottom-0 md:left-right-40 md:w-auto object-cover"> -->

    <!-- Second Image (flipped, right-aligned for larger screens) -->
    <!-- <img src="home-page/curly-brown-hair-dog.png"
      class="h-[300px] sm:h-[400px] md:h-[500px] hidden md:block md:absolute md:bottom-0 md:right-40 transform scale-x-[-1] object-cover"> -->
  </section>

  <!-- About Section -->
  <section class="flex items-center justify-center bg-gray-50 md:h-[520px]">
    <div class="mx-auto max-w-6xl px-4 py-16 text-center">
      <h2
        class="mb-8 text-3xl font-bold text-primary-700 sm:text-2xl md:text-3xl"
      >
        Nuestra Misión
      </h2>
      <p class="mb-6 text-xl text-gray-700 sm:text-lg md:text-xl">
        PetCare Connect es una plataforma integral diseñada para mejorar la
        gestión de la adopción, el cuidado y la educación sobre el bienestar
        animal. Conectamos adoptantes con refugios y fundaciones, facilitamos el
        seguimiento de la salud de las mascotas y proporcionamos recursos
        educativos y consultas veterinarias remotas.
      </p>
      <p class="mb-6 text-xl text-gray-700 sm:text-lg md:text-xl">
        Nuestro objetivo es crear un ecosistema de apoyo que empodere a las
        comunidades y refuerce los recursos de las organizaciones dedicadas al
        rescate animal.
      </p>
    </div>
  </section>

  <!-- Features Section -->
  <section class="bg-gray-50">
    <div class="mx-auto max-w-7xl px-4 py-16">
      <h3
        class="mb-8 text-center text-2xl font-semibold text-gray-900 sm:text-xl md:text-2xl"
      >
        Servicios que Ofrecemos
      </h3>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
        <div class="rounded-lg bg-white p-6 text-center shadow-lg">
          <h4 class="mb-4 text-xl font-semibold text-primary-600 sm:text-lg">
            Adopción de Mascotas
          </h4>
          <p class="text-gray-700">
            Consulta las mascotas disponibles para adopción y comienza el
            proceso fácilmente.
          </p>
        </div>
        <div class="rounded-lg bg-white p-6 text-center shadow-lg">
          <h4 class="mb-4 text-xl font-semibold text-primary-600 sm:text-lg">
            Consultas Veterinarias Remotas
          </h4>
          <p class="text-gray-700">
            Consulta a veterinarios desde la comodidad de tu hogar y recibe
            atención personalizada.
          </p>
        </div>
        <div class="rounded-lg bg-white p-6 text-center shadow-lg">
          <h4 class="mb-4 text-xl font-semibold text-primary-600 sm:text-lg">
            Recursos Educativos
          </h4>
          <p class="text-gray-700">
            Accede a artículos y guías sobre cuidado de mascotas, apadrinamiento
            y más.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action Section -->
  <section class="bg-primary-600 py-16 text-white">
    <div class="mx-auto max-w-7xl px-4 text-center">
      <h3 class="mb-4 text-3xl font-semibold sm:text-2xl md:text-3xl">
        Únete a Nosotros y Marca la Diferencia
      </h3>
      <p class="mb-8 text-lg sm:text-base">
        Con tu apoyo, podemos mejorar la vida de muchos animales y fortalecer
        nuestra red de bienestar animal.
      </p>
      <a
        class="cursor-pointer rounded-lg bg-secondary-200 px-8 py-3 text-lg font-semibold text-gray-800 hover:bg-secondary-300"
        routerLink="/registro"
        >Regístrate Ahora</a
      >
    </div>
  </section>

  <!-- Testimonial Section -->
  <section class="mx-auto max-w-7xl px-4 py-16 text-center">
    <h3
      class="mb-8 text-2xl font-semibold text-gray-900 sm:text-xl md:text-2xl"
    >
      Lo que dicen nuestros usuarios
    </h3>
    <div
      class="flex flex-col justify-center space-y-8 sm:flex-row sm:space-x-8 sm:space-y-0"
    >
      <div class="w-full rounded-lg bg-white p-6 shadow-lg sm:w-1/3">
        <p class="mb-4 text-gray-700">
          "PetCare Connect me ayudó a encontrar a la mascota perfecta para mi
          familia. El proceso fue rápido y fácil. ¡Gracias por hacer la adopción
          tan accesible!"
        </p>
        <p class="font-semibold text-primary-600">María García</p>
      </div>
      <div class="w-full rounded-lg bg-white p-6 shadow-lg sm:w-1/3">
        <p class="mb-4 text-gray-700">
          "Como veterinario, la plataforma me permite ofrecer consultas a
          distancia, ayudando a más animales de manera eficiente y accesible."
        </p>
        <p class="font-semibold text-primary-600">Dr. Juan Pérez</p>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <footer class="mt-16 bg-primary-600 py-8 text-white">
    <div class="mx-auto max-w-7xl px-4 text-center">
      <!-- Logo / Brand Name -->
      <div class="mb-6">
        <h2 class="text-3xl font-bold sm:text-2xl">PetCare Connect</h2>
        <p class="mt-2 text-lg sm:text-base">
          Conectando adoptantes con refugios y fundaciones para promover el
          bienestar animal.
        </p>
      </div>

      <!-- Footer Links -->
      <div class="mb-6 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
        <div>
          <h4 class="mb-2 text-xl font-semibold">Sobre Nosotros</h4>
          <ul>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#"
                >Nuestra Misión</a
              >
            </li>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#"
                >Nuestro Equipo</a
              >
            </li>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#">Carreras</a>
            </li>
          </ul>
        </div>
        <div>
          <h4 class="mb-2 text-xl font-semibold">Servicios</h4>
          <ul>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#"
                >Adopción de Mascotas</a
              >
            </li>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#"
                >Consultas Veterinarias Remotas</a
              >
            </li>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#"
                >Recursos Educativos</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h4 class="mb-2 text-xl font-semibold">Enlaces Rápidos</h4>
          <ul>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#"
                >Términos y Condiciones</a
              >
            </li>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#"
                >Política de Privacidad</a
              >
            </li>
            <li>
              <a class="text-gray-200 hover:text-gray-100" href="#">Contacto</a>
            </li>
          </ul>
        </div>
        <div>
          <h4 class="mb-2 text-xl font-semibold">Síguenos</h4>
          <div class="flex justify-center space-x-6">
            <a class="text-gray-200 hover:text-gray-100" href="#">
              <fa-icon [icon]="facebook" size="2x"></fa-icon>
            </a>
            <a class="text-gray-200 hover:text-gray-100" href="#">
              <fa-icon [icon]="twitter" size="2x"></fa-icon>
            </a>
            <a class="text-gray-200 hover:text-gray-100" href="#">
              <fa-icon [icon]="instagram" size="2x"></fa-icon>
            </a>
            <a class="text-gray-200 hover:text-gray-100" href="#">
              <fa-icon [icon]="youtube" size="2x"></fa-icon>
            </a>
          </div>
        </div>
      </div>

      <!-- Footer Bottom Section -->
      <div class="text-center text-gray-200">
        <p>&copy; 2024 PetCare Connect. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
</div>
