<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="mb-6">
    <pet-form-input
      label="Correo electrónico"
      placeholder="Introduce tu correo electrónico"
      type="email"
      autocomplete="email"
      [control]="emailControl.control!"
      [touched]="emailControl.state.touched"
      [invalid]="emailControl.state.invalid"
      [errors]="emailControl.state.errors"
      [customErrors]="{
        required: 'El correo electrónico es obligatorio.',
        email: 'Introduce un correo electrónico válido.',
      }"
    />
  </div>

  <pet-button
    [customClass]="'w-full'"
    [isDisabled]="form.invalid || isLoading"
    [isLoading]="isLoading"
    color="primary"
    loadingText="Enviando..."
    size="medium"
    styling="filled"
    text="Enviar enlace de recuperación"
    type="submit"
  >
  </pet-button>
</form>
