<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="mb-6">
    <label class="block text-sm font-medium text-gray-700" for="email"
      >Correo electrónico</label
    >
    <input
      [class.border-red-500]="emailControl?.invalid && emailControl?.touched"
      autocomplete="email"
      class="mt-2 w-full rounded-md border border-gray-300 p-3 outline-none focus:border-primary-500 focus:ring-2 focus:ring-primary-500"
      formControlName="email"
      id="email"
      placeholder="Introduce tu correo electrónico"
      type="email"
    />
    @if (emailControl?.invalid && emailControl?.touched) {
      <div class="text-sm text-red-500">
        @if (emailControl?.errors?.["required"]) {
          <div>El correo electrónico es obligatorio.</div>
        }
        @if (emailControl?.errors?.["email"]) {
          <div>Introduce un correo electrónico válido.</div>
        }
      </div>
    }
  </div>

  @if (errorMessage) {
    <div class="mb-4 text-sm text-red-500">
      {{ errorMessage }}
    </div>
  }

  <pet-button
    [customClass]="'w-full'"
    [isDisabled]="form.invalid || isLoading"
    [isLoading]="isLoading"
    color="primary"
    loadingText="Enviando..."
    size="medium"
    styling="filled"
    text="Enviar enlace de recuperación"
    type="submit"
  >
  </pet-button>
</form>
