<header
  class="flex flex-initial flex-wrap items-center justify-between gap-6 p-6 md:flex-nowrap"
>
  <div class="order-1 flex-shrink-0 flex-grow-0 text-2xl font-semibold">
    <a
      aria-label="Petcare Connect - Home"
      class="flex transform cursor-pointer items-center gap-x-4 rounded-md bg-transparent px-4 py-2 text-primary-500 outline-none transition-all duration-100 ease-in-out hover:bg-primary-50 hover:text-primary-600 focus:bg-primary-100 focus:outline-none active:scale-[.98] active:bg-primary-200 active:text-primary-700 active:ring-0"
      routerLink="./"
    >
      <img
        alt="Petcare Connect Logo"
        class="inline-block size-12"
        src="paw_print_animal_icon_141148.svg"
      />
      <span class="hidden text-3xl font-bold text-primary md:inline-block">
        Petcare Connect
      </span>
    </a>
  </div>

  <div class="order-3 hidden w-full flex-initial md:order-2 lg:block">
    <pet-search-bar></pet-search-bar>
  </div>

  <div class="order-2 flex flex-shrink-0 flex-grow-0 items-center md:order-3">
    <!-- User Button -->
    <pet-button
      [color]="'primary'"
      [icon]="icons.user"
      [styling]="'link'"
      [size]="'large'"
      aria-label="User"
      [appDropdownTrigger]="menuOptions"
      [dropdownPosition]="'bottom-left'"
    ></pet-button>

    <!-- Menu Button (visible on mobile only) -->
    <pet-button
      (clickTriggered)="onToggleSidebar()"
      [color]="'primary'"
      [customClass]="'lg:hidden'"
      [icon]="icons.menu"
      [styling]="'link'"
      [size]="'large'"
      aria-label="Menu"
    ></pet-button>
  </div>
</header>
