<header class="flex flex-initial items-center justify-between gap-6 p-6">
  <div class="text-2xl font-semibold">
    <a
      aria-label="Petcare Connect - Home"
      class="flex transform cursor-pointer items-center gap-x-4 rounded-md bg-transparent px-4 py-2 text-primary-500 outline-none transition-all duration-100 ease-in-out hover:bg-primary-50 hover:text-primary-600 focus:bg-primary-100 focus:outline-none active:scale-[.98] active:bg-primary-200 active:text-primary-700 active:ring-0"
      routerLink="./"
    >
      <img
        alt="Petcare Connect Logo"
        class="inline-block size-12"
        src="paw_print_animal_icon_141148.svg"
      />
      <span class="hidden text-3xl font-bold text-primary md:inline-block">
        Petcare Connect
      </span>
    </a>
  </div>

  <div class="flex-auto">
    <pet-search-bar></pet-search-bar>
  </div>

  <div class="flex items-center">
    <!-- User Button -->
    <pet-button
      (clickTriggered)="onUserClick()"
      [color]="'primary'"
      [customClass]="'mr-5'"
      [icon]="icons.user"
      [styling]="'link'"
      aria-label="User"
      text=""
    ></pet-button>

    <!-- Menu Button (visible on mobile only) -->
    <pet-button
      (clickTriggered)="onToggleSidebar()"
      [color]="'primary'"
      [customClass]="'lg:hidden'"
      [icon]="icons.menu"
      [styling]="'link'"
      aria-label="Menu"
      text=""
    ></pet-button>
  </div>
</header>
