<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="mb-4 grid grid-cols-1 gap-4 md:grid-cols-2">
    <pet-form-select
      [label]="'Tipo de identificación'"
      [placeholder]="'Seleccione una opción...'"
      [control]="identificationTypeControl.control!"
      [touched]="identificationTypeControl.state.touched"
      [invalid]="identificationTypeControl.state.invalid"
      [errors]="identificationTypeControl.state.errors"
      [options]="[
        {
          label: 'Cédula de ciudadanía',
          value: identificationTypes.CedulaCiudadania,
        },
        {
          label: 'Cédula de extranjería',
          value: identificationTypes.CedulaExtranjeria,
        },
        {
          label: 'Tarjeta de identidad',
          value: identificationTypes.TarjetaIdentidad,
        },
        { label: 'Pasaporte', value: identificationTypes.Passport },
        { label: 'Otro', value: identificationTypes.Other },
      ]"
      [customErrors]="{
        required: 'El tipo de identificación es obligatorio.',
      }"
    />

    <pet-form-input
      [label]="'Número de identificación'"
      [type]="'text'"
      [placeholder]="'1234567890'"
      [mask]="'0*'"
      [control]="identificationNumberControl.control!"
      [touched]="identificationNumberControl.state.touched"
      [invalid]="identificationNumberControl.state.invalid"
      [errors]="identificationNumberControl.state.errors"
      [customErrors]="{
        required: 'La identificación es obligatoria.',
        pattern: 'Solo se permiten números.',
      }"
    />

    <pet-form-input
      [label]="'Nombre'"
      [type]="'text'"
      [placeholder]="'Juan'"
      [control]="firstNameControl.control!"
      [touched]="firstNameControl.state.touched"
      [invalid]="firstNameControl.state.invalid"
      [errors]="firstNameControl.state.errors"
      [customErrors]="{
        required: 'El nombre es obligatorio.',
        maxlength: 'Máximo 50 caracteres permitidos.',
      }"
    />

    <pet-form-input
      [label]="'Apellido'"
      [type]="'text'"
      [placeholder]="'Perez'"
      [control]="lastNameControl.control!"
      [touched]="lastNameControl.state.touched"
      [invalid]="lastNameControl.state.invalid"
      [errors]="lastNameControl.state.errors"
      [customErrors]="{
        required: 'El apellido es obligatorio.',
        maxlength: 'Máximo 50 caracteres permitidos.',
      }"
    />

    <pet-form-input
      [label]="'Correo electrónico'"
      [type]="'email'"
      [placeholder]="'juan.perez@dominio.com'"
      [control]="emailControl.control!"
      [touched]="emailControl.state.touched"
      [invalid]="emailControl.state.invalid"
      [errors]="emailControl.state.errors"
      [customErrors]="{
        required: 'El correo electrónico es obligatorio.',
        email: 'Introduce un correo electrónico válido.',
      }"
    />

    <pet-form-input
      [label]="'Número de celular'"
      [type]="'tel'"
      [placeholder]="'300-123-4567'"
      [mask]="'000-000-0000'"
      [control]="cellphoneControl.control!"
      [touched]="cellphoneControl.state.touched"
      [invalid]="cellphoneControl.state.invalid"
      [errors]="cellphoneControl.state.errors"
      [customErrors]="{
        required: 'El número de celular es obligatorio.',
      }"
    />
  </div>

  <div class="mb-4 grid grid-cols-1 gap-4 md:grid-cols-2">
    <pet-form-password
      [label]="'Contraseña'"
      [placeholder]="'Introduce tu contraseña'"
      [autocomplete]="'new-password'"
      [control]="passwordControl.control!"
      [touched]="passwordControl.state.touched"
      [invalid]="passwordControl.state.invalid"
      [errors]="passwordControl.state.errors"
      [customErrors]="{
        required: 'La contraseña es obligatoria.',
        minlength: 'La contraseña debe tener al menos 8 caracteres.',
        pattern:
          'Debe incluir una mayúscula, una minúscula, un número y un carácter especial.',
      }"
    />

    <pet-form-password
      [label]="'Confirmar contraseña'"
      [placeholder]="'Repite tu contraseña'"
      [autocomplete]="'new-password'"
      [control]="confirmPasswordControl.control!"
      [touched]="confirmPasswordControl.state.touched"
      [invalid]="confirmPasswordControl.state.invalid"
      [errors]="confirmPasswordControl.state.errors"
      [customErrors]="{
        required: 'La confirmación de contraseña es obligatoria.',
        mismatch: 'Las contraseñas no coinciden.',
      }"
    />
  </div>

  <pet-button
    [customClass]="'w-full'"
    [isDisabled]="form.invalid || isLoading"
    [isLoading]="isLoading"
    color="primary"
    loadingText="Registrando..."
    size="medium"
    styling="filled"
    text="Registrarse"
    type="submit"
  />
</form>
