<!-- Resend Email Button -->
@if (size === "default") {
  <pet-button
    (clickTriggered)="resendEmail()"
    [color]="'success'"
    [isDisabled]="isCoolDown || isResending"
    [isLoading]="isResending"
    [size]="'medium'"
    [styling]="styling"
    [text]="
      isCoolDown
        ? 'Espera (' + countdown + 's)'
        : 'Reenviar correo de confirmación'
    "
    customClass="mt-3"
  ></pet-button>
} @else {
  <pet-button
    (clickTriggered)="resendEmail()"
    [customClass]="'mt-3 w-full'"
    [color]="'success'"
    [isDisabled]="isCoolDown || isResending"
    [isLoading]="isResending"
    size="medium"
    [styling]="styling"
    [text]="
      isCoolDown
        ? 'Espera (' + countdown + 's)'
        : 'Reenviar correo de confirmación'
    "
  ></pet-button>
}
