@if (loading()) {
  <!-- Skeleton UI while loading -->
  <div class="space-y-4">
    @for (_ of [1, 2, 3]; track $index) {
      <div class="animate-pulse">
        <div class="mb-4 h-6 w-1/2 rounded bg-gray-200"></div>
        <div class="space-y-2">
          @for (__ of [1, 2, 3]; track $index) {
            <div class="h-4 w-3/4 rounded bg-gray-200"></div>
          }
        </div>
      </div>
      <hr class="mb-4 mt-2 border-gray-300" />
    }
  </div>
  <span class="flex-1"></span>
  <div class="h-4 w-3/4 rounded bg-gray-200"></div>
} @else {
  <!-- Static Section -->
  <h3 class="mb-4 text-xl font-bold text-gray-800">Sobre PetCare Connect</h3>
  <ul class="space-y-0">
    @for (
      item of [
        { label: "¿Quiénes Somos?", icon: "faUsers", path: "./quienes-somos" },
        { label: "Misión", icon: "faBullseye", path: "./mision" },
        { label: "Visión", icon: "faEye", path: "./vision" },
        {
          label: "Transparencia",
          icon: "faHandshake",
          path: "./transparencia",
        },
        { label: "Botones", icon: "faHandPointer", path: "./button-showcase" },
        { label: "Inputs", icon: "faKeyboard", path: "./inputs-showcase" },
        { label: "Notificaciones", icon: "faBell", path: "./notifications" },
        { label: "Registrar Refugio", icon: "faShieldHeart", path: "./registrar-refugio" },
      ];
      track $index
    ) {
      <li class="flex items-center">
        <a
          (click)="onItemSelected()"
          [routerLink]="[item.path]"
          class="w-full rounded-md px-2 py-2 text-base font-medium text-gray-700 outline-none transition-colors hover:bg-gray-50 hover:text-primary-500 focus-visible:bg-primary-50"
        >
          <fa-icon
            [icon]="icons[item.icon]"
            class="mr-4 text-primary-500"
            size="lg"
          />
          <span>{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>

  <span class="flex-auto"></span>
  <hr class="mb-4 mt-2 w-full border-gray-300" />
  <button
    (click)="onSignOut(); onItemSelected()"
    class="flex w-full items-center justify-start rounded-md px-2 py-2 text-base font-medium text-gray-700 outline-none transition-colors hover:bg-gray-50 hover:text-primary-500 focus-visible:bg-primary-50"
  >
    <fa-icon
      [icon]="icons['faArrowRightFromBracket']"
      class="mr-4 text-primary-500"
      size="lg"
    />
    <span>Cerrar Sesión</span>
  </button>
}
