<div class="flex flex-col h-screen overflow-hidden">
  <!-- Header -->
  <header class="flex-initial flex justify-between items-center p-6">
    <div class="text-2xl font-semibold">
      <a routerLink="./" class="flex items-center gap-x-4 cursor-pointer">
        <img src="paw_print_animal_icon_141148.svg" alt="Logo" class="size-12 inline-block">
        <span class="inline-block text-3xl font-bold text-primary">Petcare
          Connect</span>
      </a>
    </div>

    <pet-search-bar></pet-search-bar>

    <pet-button text="" styling="link" size="large" [icon]="icons['bell']"></pet-button>
  </header>

  <div class="flex-auto h-full flex justify-between items-center gap-x-3 bg-gray-100 px-4 overflow-hidden">
    <!-- Sidebar -->
    <div
      class="flex-initial h-[95%] flex flex-col justify-start bg-white shadow-lg w-80 p-6 rounded-2xl border border-gray-200">
      <pet-side-bar-menu [menuContent]="menuContent" [loading]="loadingMenuItems"
        (signOut)="handleSignOut()"></pet-side-bar-menu>
    </div>

    <!-- Main Content -->
    <main class="flex-initial w-full h-[95%] bg-white shadow-lg rounded-2xl border border-gray-200 overflow-hidden">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
