<div class="flex min-h-screen flex-col bg-gray-50 md:flex-row">
  <!-- Left Panel: Login -->
  <div class="flex flex-1 items-center justify-center bg-white p-8">
    <div class="w-full max-w-2xl">
      <a routerLink="/">
        <img
          alt="Logo"
          class="mb-8 inline-block size-24 cursor-pointer rounded-md outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2"
          src="paw_print_animal_icon_141148.svg"
        />
      </a>
      <h2 class="mb-2 text-4xl font-semibold">¡Bienvenido de vuelta!</h2>
      <p class="mb-6 text-gray-400">
        Ingresa y descubre como ayudar a muchos animales.
      </p>

      <pet-login-form
        (loginSubmitted)="handleLogin($event)"
        [isLoading]="isLoading"
      ></pet-login-form>

      <!-- Forgot Password Link -->
      <div class="mt-4 text-center">
        <a
          class="cursor-pointer text-sm text-primary-600 hover:underline"
          routerLink="/recuperar-contraseña"
        >
          ¿Olvidaste tu contraseña?
        </a>
      </div>

      <!-- Register Link -->
      <div class="mt-6 text-center">
        <p class="text-sm text-gray-600">
          ¿No tienes una cuenta?
          <a
            class="cursor-pointer text-primary-600 hover:underline"
            routerLink="/registro"
          >
            Regístrate
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- Right Panel: Image (hidden on small screens) -->
  <div
    class="hidden flex-1 bg-cover bg-center md:block"
    style="background-image: url('sign-in-page/dog-on-neon-background.jpg')"
  ></div>
</div>
