<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="mb-4 grid grid-cols-1 gap-4 md:grid-cols-2">
    <div class="md:col-span-2">
      <pet-form-password
        [label]="'Contraseña'"
        [placeholder]="'Introduce tu contraseña'"
        [autocomplete]="'new-password'"
        [control]="newPasswordControl.control!"
        [touched]="newPasswordControl.state.touched"
        [invalid]="newPasswordControl.state.invalid"
        [errors]="newPasswordControl.state.errors"
        [customErrors]="{
          required: 'La contraseña es obligatoria.',
          minlength: 'La contraseña debe tener al menos 8 caracteres.',
          pattern:
            'Debe incluir una mayúscula, una minúscula, un número y un carácter especial.',
        }"
      />
    </div>

    <div class="md:col-span-2">
      <pet-form-password
        [label]="'Confirmar contraseña'"
        [placeholder]="'Repite tu contraseña'"
        [autocomplete]="'new-password'"
        [control]="confirmPasswordControl.control!"
        [touched]="confirmPasswordControl.state.touched"
        [invalid]="confirmPasswordControl.state.invalid"
        [errors]="confirmPasswordControl.state.errors"
        [customErrors]="{
          required: 'La confirmación de contraseña es obligatoria.',
          mismatch: 'Las contraseñas no coinciden.',
        }"
      />
    </div>
  </div>

  <pet-button
    [customClass]="'w-full'"
    [isDisabled]="form.invalid || isLoading()"
    [isLoading]="isLoading()"
    color="primary"
    loadingText="Guardando..."
    size="medium"
    styling="filled"
    text="Restablecer contraseña"
    type="submit"
  ></pet-button>
</form>
