<form (ngSubmit)="submit()" [formGroup]="form">
  <div *ngIf="errorMessage" class="mb-2 text-red-600">{{ errorMessage }}</div>

  <input
    formControlName="email"
    placeholder="Correo electrónico"
    type="email"
  />
  <input formControlName="token" placeholder="Token" type="text" />
  <input
    formControlName="newPassword"
    placeholder="Nueva contraseña"
    type="password"
  />
  <input
    formControlName="confirmPassword"
    placeholder="Confirmar contraseña"
    type="password"
  />

  <button type="submit">Restablecer contraseña</button>
</form>
