<div class="flex min-h-screen flex-col bg-gray-50 md:flex-row">
  <!-- Left Side: Form Section -->
  <div class="flex flex-1 items-center justify-center bg-white p-8">
    <div class="w-full max-w-2xl">
      <img
        alt="Logo"
        class="mb-8 inline-block size-24 cursor-pointer rounded-md outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2"
        routerLink="/"
        src="paw_print_animal_icon_141148.svg"
      />

      <h2 class="mb-2 text-4xl font-semibold text-primary-600">
        Restablecer contraseña
      </h2>
      <p class="mb-6 text-gray-400">
        Ingresa tu nueva contraseña a continuación para recuperar el acceso a tu
        cuenta.
      </p>

      <!-- 🔁 Reset Password Form Component -->
      <pet-reset-password-form
        (submitted)="handleResetPassword($event)"
        [email]="email"
        [isLoading]="isLoading"
        [token]="token"
      ></pet-reset-password-form>

      <!-- Redirect to Sign In -->
      <div class="mt-6 text-center">
        <p class="text-sm text-gray-600">
          ¿Ya recordaste tu contraseña?
          <a
            class="cursor-pointer text-primary-600 hover:underline"
            routerLink="/ingreso"
          >
            Inicia sesión
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- Right Side: Image Section -->
  <div
    class="hidden flex-1 bg-cover bg-center md:block"
    style="
      background-image: url(&quot;sign-up-page/girls-carrying-a-dog.jpg&quot;);
    "
  ></div>
</div>
