<div class="flex h-full flex-col items-center justify-center">
  <h1
    class="bg-gradient-to-r from-purple-700 via-primary-500 to-purple-700 bg-clip-text text-6xl font-extrabold text-transparent"
  >
    PetCare Connect
  </h1>
  <p class="mt-4 text-lg text-gray-700">
    Descubre cómo podemos ayudarte a mejorar la vida de los animales y sus
    cuidadores.
  </p>
  <a
    class="mt-6 transform rounded-lg bg-primary-500 px-6 py-3 font-medium text-white shadow-md transition-transform hover:scale-105 hover:bg-primary-600"
    routerLink="./mascotas-adoptables"
  >
    Explorar la Plataforma
  </a>
</div>
