<div class="m-auto max-w-4xl px-4 py-10">
  <section class="text-center">
    <h1 class="mb-6 text-4xl font-bold text-gray-800">Nuestra Visión</h1>
    <p class="text-lg leading-relaxed text-gray-600">
      En <strong>PetCare Connect</strong>, nuestra visión es construir un futuro
      donde cada animal tenga un hogar lleno de amor, cuidado y respeto.
      Aspiramos a liderar el cambio en la adopción responsable, conectando
      comunidades y organizaciones para empoderar a las personas a través de la
      tecnología y la compasión.
    </p>
    <p class="mt-4 text-lg leading-relaxed text-gray-600">
      Creemos en un mundo donde el bienestar animal no sea una excepción, sino
      la regla. Nuestro objetivo es ser la plataforma de referencia que inspire
      a las comunidades a unirse por un propósito común: garantizar una vida
      digna para todos los animales.
    </p>
  </section>
</div>
